@using System.Text;
@{
	ViewBag.Title = "Index";
	Layout = "_Layout";

	var tuples = (IEnumerable<object[]>)ViewBag.TupleSpace;

	string TupleToString(object[] tuple) {
		var sb = new StringBuilder();
		sb.Append('[');
		for (int i = 0; i < tuple.Length; i++) {
			var elementRepresentation = tuple[i].ToString()!;
			if (elementRepresentation.Length > 10)
				elementRepresentation = elementRepresentation.Substring(0, 7) + "...";

			sb.Append(elementRepresentation);

			if (i < tuple.Length - 1) {
				sb.Append(", ");
			}
		}
		sb.Append(']');

		return sb.ToString();
	}
}

<h2>Index</h2>

<section class="accordion" id="tuples-list">
	@{var tupleIndex = 0;}
	@foreach (var tuple in tuples) {
		<div class="accordion-item">
			<h2 class="accordion-header" id="tuple-@tupleIndex-heading">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tuple-@tupleIndex-collapse">
					@TupleToString(tuple)
				</button>
			</h2>
			<div class="accordion-collapse collapse" id="tuple-@tupleIndex-collapse" data-bs-parent="#tuples-list">
				<div class="accordion-body">
					<ul>
						@foreach (var element in tuple) {
							<li>@element</li>
						}
					</ul>
				</div>
			</div>
		</div>
		tupleIndex++;
	}
</section>